1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "DarkOverlord of Data"
      VALUE "FileDescription", "Give Me Those Shmup Wars"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "ShmupWarz"
      VALUE "LegalCopyright", "darkoverlordofdata"
      VALUE "OriginalFilename", "shmupwarz.exe"
      VALUE "ProductName", "ShmupWarz for Windows"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
